<div class="container bg-dark">
  <div class="row">
    <div class="col-xl-12">
      <h1 class="h1 text-center text-danger py-3"><strong>Angular - payment integration with Stripe</strong></h1>
    </div>
  </div>
</div>
<div class="container bg-light">
  <div class="row">
    <div class="col-xl-12">
      <span class="text-success text-center clear-fix d-flex flex-column my-5 fw-bold fs-3">Payment options:</span>
      <div class="container d-flex justify-content-center mb-5 w-50">
        <button (click)="makePayment(30)" class="btn-warning mx-2 fs-5 rounded text-danger fw-bold w-25 px-3 h-25">$30</button>
        <button (click)="makePayment(50)" class="btn-warning mx-2 fs-5 rounded text-danger fw-bold w-25 px-3 h-25">$50</button>
        <button (click)="makePayment(100)" class="btn-warning mx-2 fs-5 rounded text-danger fw-bold w-25 px-3 h-25">$100</button>
      </div>
    </div>
  </div>
</div>
